body {
    color: #fff;
    font-family: 'Arial';
    text-align: center;


}

    
#gridwrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    max-width: 1680px;
    margin: 0 auto;
    position: relative;
    grid-template-areas: 
    "header header header header header header header header header header header header"
    "wheel wheel wheel wheel category category category category question question question question"
    "wheel wheel wheel wheel category category category category question question question question"
    "wheel wheel wheel wheel category category category category option option option option"
    ". . result result result result result result result result . ."
    ". . footer footer footer footer footer footer footer footer . .";
}


@media screen and (max-width: 760px){

    #gridwrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 10px;
        max-width: 960px;
        margin: 0 auto;
        position: relative;
        grid-template-areas: 
        "header header "
        "wheel wheel"
        "category category"
        "question question"
        "option option"
        "result result"
        "footer footer"
        ;
    }

}

#gridwrap > * {
    background: grey;
    padding: 20px;
    
}

#grid {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100%, auto);
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 0;
    display: none;
}

#grid p {
    border: 1px solid;
    background: #000;
    margin: 0;
    opacity: 0.2;
}

input:checked + #gridwrap #grid {
    display: grid;

}

header {
    grid-area: header;
}

button {
    grid-area: wheel;  
}

#c-out {
    grid-area: category;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

#q-out {
    grid-area: question;
}

#o-out {
    grid-area: option;
}

#r-out {
    grid-area: result;
}

nav {
    grid-area: nav;
}

footer {
    grid-area: footer;
}

#question {
    font-size: 15rem;
}

.category {
    border: 1px solid red;

}